<nav class="">
    <ul>
    	<% if current_user %>
    		<p>Signed in as <%= "#{current_user.email}" %></p>
    		<%= link_to("Sign out", destroy_user_session_path, :method => 'delete') %>
    	<% else %>
			<%= link_to("Sign up", new_user_registration_path) %>
			<%= link_to("sign in", new_user_session_path) %>
		<% end %>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(@cart) %></li>
        <% end %>
    </ul>
</nav>